.App {
  text-align: center;
  background-image: url("/public/images/pokemon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: ceneter;
  height: 6500px;
}

.button {
  border-radius: 8px;
  height: 40px;
  width: 300px;
  background-color: #a8e5f5;
  cursor: pointer;
}
.ol {
  display:inline-block;
}
.li {
  background-color: rgb(12, 12, 1);
  border: 1px solid #4435ed;
  border-radius: 8px;
  color: rgb(240, 244, 16);
  font-size: 30px;
  max-width: 300px;
}
.text {
  color: red;
}
